body {
  font-family: cambria, sans-serif;
  text-align: center;
  background-color: #F54927;
  color: black;
  margin-top: 50px;
}

button {
  background-color: #9D02EA;
  color: blue;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
