body {
  font-family: cambria, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  color: #333;
  margin-top: 50px;
}

button {
  background-color: #007bff;
  color: blue;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
